<%- include('./layouts/header', {title: 'Perfil - Centro medico Dos Alamos'}); %> 

<% if (successRegister != '') { %>
    <p><%= successRegister %> </p>
<% } %>

<% if (user.rol === 'Paciente') { %>
    <h1>Perfil Paciente</h1>
<% } else if (user.rol === 'Secretaria'){ %>

    <% console.log(user)  %>
        <div class="container" >
            <h1 class="p-4 text-dark mb-4">Perfil Secretaria</h1>
            <div class="row">
                <div class="col-md-4">
                    <h1 style="color: grey;" class=" text-left">Bienvenido/a <%= user.name %></h1>
                </div>
                <div class="col-md-8">
                    <div class="card ml-auto " style="width: 18rem;">
                        <div class="card-body ">
                          <h5 class="card-title"><%= user.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"><%= user.rol %></h6>
                          <p class="card-text"> <%= user.email %></p>
                        </div>
                      </div>
  
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class=" ml-4 text-success  text-left"  > Lista de Medicos</h1>
            </div>
            </div>
            </div>
       
            <table class="table table-hover table-success  ">
                <thead>
                <tr>
                    <th scope="col">Medico</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado </th>
                    <th scope="col">Opciones </th>
                </tr>
                </thead>

                <tbody >
                <% %>
                <% users.forEach(i => { %>

                <% if (i.rol == "Doctor") { %>
                <tr onload="changeState(this,`<%= i.name %>`)">
                    <td><%= i.name %></td>
                    <td><%= i.hoursAttention %></td>
                    <td><a href="mailto:micorreo@gmail.com?" ><%= i.email %></a></td>
                    <td> 
                        <select class="bg-success text-light" style="width: 100%;" name="estado" id="<%= i.name %>" onchange="changeState(this,`<%= i.name %>`)"  disabled>
                          <option id="disp"  value="`<%= i.availability %>`"><%= i.availability %></option>
                          <option id="disponible"  value="disponible">Disponible</option>
                          <option id="off"value="ausente">No disponible</option>
                        </select></td>
                    <td><button class="btn btn-primary" id="btnModificar" onclick="btnMod(`<%= i.name %>`)    "> Modificar </button></td>
                </tr>

                <% } %>
                <%  }) %>

                </tbody>
            </table>
        </div>
        <script>
            function changeState (index,e) {
                var element = document.getElementById(e);
                var btn = document.getElementById ('btnModificar');
                    
                    if (index.options[index.selectedIndex].text == "Disponible") {
                        element.setAttribute('class','bg-success text-light')

                    }
                    if (element.value == 'No disponible') {
                      
                      element.setAttribute('class','bg-danger text-light')

                  }
                    if (index.options[index.selectedIndex].text  == 'No disponible') {
                      
                        element.setAttribute('class','bg-danger text-light')

                    }
                    if (element.selected) {
                        btn.innerHTML = "Guardar Cambios";
                    }


            }
            function btnMod (e) { 
                console.log(e)
                var btn = document.getElementById ('btnModificar');
                var disabled = document.getElementById(e).disabled;
                var element = document.getElementById(e);
                  if (disabled) {
                document.getElementById(e).disabled = false;
                } else {
                    document.getElementById(e).disabled = true;
                    btn.innerHTML = 'Modificar'
                }
        
                }
   
        </script>
<% } else if (user.rol === 'Medico') { %>
    <h1>Perfil Médico</h1>
<% } else { %>
    <h1>Perfil Administrador</h1>
<% } %>
 


<%- include('./layouts/footer'); %> 